<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
  <servlet>
    <description></description>
    <display-name>VerifyLogin</display-name>
    <servlet-name>VerifyLogin</servlet-name>
    <servlet-class>com.trms.servlets.VerifyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyLogin</servlet-name>
    <url-pattern>/VerifyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReimbursement</display-name>
    <servlet-name>GetReimbursement</servlet-name>
    <servlet-class>com.trms.servlets.GetReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimbursement</servlet-name>
    <url-pattern>/GetReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitForm</display-name>
    <servlet-name>SubmitForm</servlet-name>
    <servlet-class>com.trms.servlets.SubmitForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitForm</servlet-name>
    <url-pattern>/SubmitForm</url-pattern>
  </servlet-mapping>
</web-app>